# Copied from Noya https://github.com/MNoya
# Cache crap that Valve autogenerates
*.bin
*.cfg

# Compiled formats
*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vsnd_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c
*.vanim_c
*.vmdl_c
*.vmesh_c
*.vagrp_c

# Commit panorama compiled textures
!game/dota_addons/btmap/panorama/images/*.vtex_c
!game/dota_addons/btmap/panorama/images/custom_game/*.vtex_c
!game/dota_addons/btmap/materials/overviews/*

# Map overviews
content/dota_addons/btmap/materials/overviews/*.vmat
content/dota_addons/btmap/materials/overviews/*.txt
game/dota_addons/btmap/resource/overviews/*

#Github dump
*.stackdump

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
